body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

Container{
  padding: 10px;
  margin: 10px;
}

video {
  /* height: 50vh;
  width: 50vw; */
  max-height: 500px;
  max-width: 500px;
  margin: 0px;
  padding: 10px;
}


.rowspace {
  height: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

#remote-media video:last-child {
  max-height: 1250px;
  max-width: 1250px;
}
